.fourpi-story {
    background-color: var(--bg-green);
    min-height: 100vh;
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/trust-bg.jpg);
    background-size: cover;
    background-position: right bottom;
    position: relative;
  }
  
  .story-wrapper {
    align-items: flex-end;
  }
  
  .fourpi-story-heading-wrapper {
    width: 50%;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
  
  .fourpi-story-heading {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    max-width: 80%;
  }
  
  .fourpi-story-detail {
    width: 50%;
    font-weight: 500;
    margin-left: 30px;
  }
  
  .fourpi-story-para {
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
    max-width: 550px;
  }
  
  @media all and (max-width: 1279px) {
    .fourpi-story-heading {
      max-width: 100%;
    }
  }
  
  @media all and (max-width: 767px) {
    .fourpi-story {
      background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/trust-bg-mobile.jpg);
    }
  
    .fourpi-story-heading {
      font-size: 55px;
      line-height: 55px;
      padding-bottom: 80px;
    }
  
    .fourpi-story-para {
      font-size: 15px;
    }
  
    .story-wrapper {
      flex-direction: column;
      padding: 70px 0px;
    }
  
    .fourpi-story-heading-wrapper {
      width: 100%;
    }
  
    .fourpi-story-detail {
      width: 100%;
    }
  }
  